<div id="wrapper">
    <div id="carousel">

        <div class="stock-bar-item">
            <span>Stock Name1</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name2</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name3</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name4</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name5</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name6</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name7</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name8</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name9</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name10</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name11</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name12</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name13</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name14</span>
        </div>

        <div class="stock-bar-item">
            <span>Stock Name15</span>
        </div>


    </div>
</div>