md-toolbar h1 {
    font-weight: normal;
}

.stock-bar-item{
    border: 1px solid #999;
}

#wrapper {
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;

    left: 0;
    background-color: black;
}

#carousel div {
    text-align: center;
    width: 100px;
    min-height: 50px;
    float: left;

    color: white;
}
#carousel div img {
    border: 1px solid #999;
}
#carousel div:hover span {
    background-color: #333;
    color: #fff;
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 3px;
}
#topBar{
    background-color: white;
    color: black;
}

.upPrice{
    color: lawngreen;
}
.downPrice{
    color: red;
}
#cover{
    background-image: url("../img/cover1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 25em;


}